
.login-wrapper {
    margin: 10rem auto;
    width: 20rem;
   
   
}
.title{
    text-align: center;
    color:blueviolet;
}
.bdy{
   
    background-image: url("../../photos/flightpic.jpg");
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
    margin-bottom: 2rem;
}

button {
    margin-bottom: 2rem;
}