<div  class="container-fluid">  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
      <ul class="navbar-nav">  
        <li class="list-inline-item ">  
          <a routerLink="view-journey" class="nav-link" class="btn btn-primary active" role="button" >View Journey</a>  
        </li>   
        <li class="list-inline-item">  
          <a  routerLink="add-journey" class="nav-link" class="btn btn-primary active" role="button" >Add Journey</a>  
        </li>            
      </ul>  
    </nav> 
    
  
      <router-outlet></router-outlet>  
  </div>  